@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles for leaflet markers */
.start-marker {
  filter: hue-rotate(120deg); /* Green */
}

.end-marker {
  filter: hue-rotate(330deg); /* Red */
}

/* Animations */
@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

/* Scrollbar customization */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #10b981;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0e9f6e;
}

.leaflet-bottom.leaflet-right {
  display: none;
}
